.App {
  text-align: center;
}

body {
  background-color: #192d55;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg {
  background-color: aliceblue;
  width: 1200px;
  height: 500px;
}