body {
  background-color: #192d55;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  background-color: aliceblue;
  height: 500px;
}

.x-axis {
  background-color: black;
  position: absolute;
  justify-content: center;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  padding: 2px;
  height: auto;
  background: rgb(217, 232, 255);
  color: rgb(28, 1, 56);
  pointer-events: none;
  opacity: 0;
}

.bar:hover {
  fill: rgb(0, 207, 7);
}