.App {
  text-align: center;
}

body {
  background-color: #192d55;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

h1 {
  fill: black;
  z-index: 5;
}

svg {
  background-color: aliceblue;
  height: 500px;
  z-index: 2;
}

.bar:hover {
  fill: rgb(0, 207, 7);
}